<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DraggableModal.WebApplication.Blazor.styles.css" />

    <link rel="stylesheet" href="css/App.css" />
    <link rel="stylesheet" href="css/Modal.css" />
    <link rel="stylesheet" href="css/Theme.css" />
    <HeadOutlet @rendermode=RenderMode />
</head>

<body>
    <Routes @rendermode=RenderMode/>

    <script src="_framework/blazor.web.js"></script>

    <script type="text/javascript" src="javascript/jquery/jquery.js"></script>
    <script type="text/javascript" src="javascript/bootstrap/bootstrap.js"></script>

    <script type="text/javascript" src="javascript/draggable.js"></script>
</body>

</html>
@code{

}